---
import Blur from "../components/react/Blur";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Basile Vernouillet</title>
    <meta name="title" content="Basile Vernouillet | Web Developer" />
    <meta
      name="description"
      content="Basile Vernouillet, Javascript & Typescript frontend & backend developer"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://basile.vernouillet.dev" />
    <meta property="og:title" content="Basile Vernouillet" />
    <meta
      property="og:description"
      content="Basile Vernouillet, Javascript & Typescript frontend & backend developer"
    />
    <meta
      property="og:image"
      content="https://basile.vernouillet.dev/portrait-small.webp"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://basile.vernouillet.dev" />
    <meta property="twitter:title" content="Basile Vernouillet" />
    <meta
      property="twitter:description"
      content="Basile Vernouillet, Javascript & Typescript frontend & backend developer"
    />
    <meta
      property="twitter:image"
      content="https://basile.vernouillet.dev/portrait-small.webp"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Prompt:wght@200;300;400;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen bg-slate-900 font-open overflow-x-hidden">
    <Blur client:idle />
    <main
      class="relative z-10 flex flex-col  justify-center container mx-auto gap-20 py-20"
    >
      <slot />
    </main>
  </body>
</html>
